Repository cardenas378/la-jolla-playhouse-: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, rubocop

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts}"
      run: yarn eslint {staged_files}
    rubocop:
      glob: "*.rb"
      run: rubocop --force-exclusion {all_files}

ability to store the value of performance date
  app/javascript/components/AddBooking/AddBooking.js
Due: eslint

adds calendar icon into input box
  app/javascript/components/AddBooking/AddBooking.js
Due: eslint

performances date
  app/controllers/performances_controller.rb
  app/javascript/components/AddBooking/AddBooking.test.js
Due: eslint, rubocop

ability to create a booking
  app/javascript/components/AddBooking/AddBooking.js
  app/javascript/components/AddBooking/AddBooking.test.js
  app/javascript/components/App/App.js
  app/javascript/components/api/index.js
Due: eslint

deleted unnecessary code
  app/javascript/components/AddBooking/AddBooking.js
  app/javascript/components/Header/DayPerformanceHeader.styles.js
Due: eslint

renamed performances table to performance_dates
  app/controllers/performance_dates_controller.rb
  app/controllers/performances_controller.rb
  app/javascript/components/Buttons/SubmitButton.js
  app/javascript/components/styles/SlideOutPanel.js
  app/models/booking.rb
  app/models/performance_date.rb
  db/migrate/20191114175211_change_performances_to_performance_dates.rb
  db/schema.rb
  spec/controllers/performance_dates_controller_spec.rb
  spec/controllers/performances_controller_spec.rb
Due: eslint, rubocop

fixed some lint warnings
  app/javascript/components/AddBooking/AddBooking.js
  app/javascript/components/AddBooking/AddBooking.test.js
  app/javascript/components/AddLocation/AddLocation.js
  app/javascript/components/AddLocation/AddLocation.test.js
  app/javascript/components/App/App.js
  app/javascript/components/Buttons/SubmitButton.js
  app/javascript/components/Icon/Chevron.js
  app/javascript/components/Links/AddLocationLink.js
  app/javascript/components/Location/Location.js
  app/javascript/components/Location/LocationContact/LocationContact.js
  app/javascript/components/api/index.js
  app/javascript/components/styles/Theme.js
  package-lock.json
  package.json
Due: eslint

adds workshop database && implements styling
  app/assets/stylesheets/performances.scss
  app/controllers/bookings_controller.rb
  app/controllers/locations_controller.rb
  app/controllers/performance_dates_controller.rb
  app/controllers/workshop_dates_controller.rb
  app/javascript/components/AddBooking/AddBooking.js
  app/javascript/components/AddBooking/AddBooking.test.js
  app/javascript/components/AddLocation/AddLocation.test.js
  app/javascript/components/Calendar/Calendar.js
  app/javascript/components/Calendar/Calendar.styles.js
  app/javascript/components/Calendar/index.js
  app/javascript/components/Header/WorkshopDateHeader.js
  app/javascript/components/Header/WorkshopDateHeader.styles.js
  app/javascript/components/Header/index.js
  app/javascript/components/PerformanceDateCalendar/PerformanceDateCalendar.js
  app/javascript/components/PerformanceDateCalendar/index.js
  app/javascript/components/index.js
  app/javascript/components/styles/SlideOutPanel.js
  app/models/booking.rb
  app/models/performance_date.rb
  app/models/workshop_date.rb
  db/schema.rb
  spec/controllers/workshop_date_controller.spec.rb
Due: eslint, rubocop

added rspec tests for workshopdate
  spec/controllers/workshop_date_controller.spec.rb
Due: rubocop

rspec testing for workshop_date controller
  app/controllers/workshop_dates_controller.rb
  app/models/performance_date.rb
  app/models/workshop_date.rb
  config/routes.rb
  spec/controllers/bookings_controller_spec.rb
  spec/controllers/locations_controller_spec.rb
  spec/controllers/workshop_date_controller.spec.rb
  spec/controllers/workshop_date_controller_spec.rb
Due: rubocop

added rspec testing to performance date controller
  app/controllers/performance_dates_controller.rb
  app/models/performance_date.rb
  config/routes.rb
  spec/controllers/performance_dates_controller_spec.rb
Due: rubocop
